body {
  font-family: "Noto Sans SC", sans-serif;
}

.iScrollIndicator {
  opacity: 0;
}
.fp-scroller {
  min-height: 100%;
  -webkit-transition: -webkit-transform 300ms !important;
  transition: -webkit-transform 300ms !important;
  -o-transition: transform 300ms !important;
  transition: transform 300ms !important;
  transition: transform 300ms, -webkit-transform 300ms !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider_content {
  text-align: center;
}
.add_pointer {
  cursor: pointer;
}
.orange_color {
  color: #ff7400;
}
.white_color {
  color: white;
}
.title_padding {
  margin: 0;
  text-align: center;
  font-size: 40px;
  padding: 0 0 1%;
}
.mail_tele_links {
  text-decoration: none;
}
.modal {
  position: fixed;
  z-index: 2;
  width: 100%;
  overflow: auto;
  height: 0%;
  overflow-y: auto;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.modal-content {
  width: 460px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}
.modal_img_container {
  width: 100%;
  height: 320px;
  margin: auto;
  background-image: url("../src/section_professional_main.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.modal_title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
}
.modal_subtitle {
  font-size: 15px;
  text-align: center;
}
.send_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}
input,
textarea {
  margin: 10px;
  border-radius: 5px;
  width: 90%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  box-shadow: inset 0 0 2px 2px #888;
  background: #fff;
}
textarea {
  height: 50px;
}

.modal_button {
  color: white;
  background-color: #ff7400;
  border-color: unset;
  border-radius: 10px;
  font-weight: 700;
  height: 50px;
  width: 250px;
  margin: auto;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.modal_button:before {
  content: "";
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0.1)),
    to(rgba(255, 255, 255, 0.5))
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 100px;
  width: 100px;
  position: absolute;
  top: -8px;
  left: -200px;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}
.modal_button:hover {
  background: #fe6637;
  color: #fff;
}
.modal_button:hover:before {
  left: 250px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.close {
  color: black;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  text-align: end;
  margin: 0;
}

.close:hover,
.close:focus {
  color: #ff7400;
  text-decoration: none;
  cursor: pointer;
}

/*    section 1      */
.section_1_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_menu {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.section_1_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 2%;
}

.logo {
  height: 150px;
  width: 150px;
}
.contacts {
  width: 80%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts_border {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: #52709e;
}

.contacts_info {
  color: white;
  font-size: 25px;
  margin-bottom: 5px;
  display: inline-block;
}
.contacts_img {
  margin-bottom: -5px;
}
.side_img {
  width: 50%;
  max-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

.menu_title {
  color: grey;
  font-size: 32px;
}
.menu_subTitle {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}
.header_subTitle_font {
  font-size: 20px;
}
.section_1_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section_1_body_img {
  display: none;
}
.submit_button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  margin: 2% 0 2%;
}
.submit_button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
button:focus {
  outline: none;
}

.button_content {
  color: white;
  background-color: #ff7400;
  height: 130px;
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  border-radius: 15px;
  margin: 10px;
}
.section_1_mobile_footer {
  display: none;
}
.section_1_footer {
  width: 100%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section_1_footer_card {
  width: 32%;
}

/* section 2*/

.section_contract_container {
  height: 100%;
}
.section_contract_body_container {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.huge_txt {
  color: #ff7400;
  font-size: 340px;
  font-weight: 700;
  margin: 0;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.background_img_container {
  background-image: url("../src/section_contract_background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section_contract_txt1 {
  font-size: 52px;
}
.section_contract_txt2 {
  font-size: 42px;
}
.section_contract_footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.list_img {
  height: 50px;
  width: 50px;
}
/*
.section_contract_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
*/
/*section 3*/

.section_professional_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section_professional_img {
  height: 90px;
  width: 90px;
}
.section_professional_list {
  width: 60%;
}

.section_professional_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 10px;
}
/*
.section_professional_txt {
 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
}
*/
.section_professional_body_img_container {
  height: 100%;
  width: 40%;
  background-image: url("../src/section_professional_main.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* section  4*/

.section_review_container {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.review_card {
  background-color: #eef3fe;
  position: relative;
  text-align: initial;
  width: 80%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
.review_img {
  width: 60px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: -10px;
}
.review_body {
  padding: 40px 10px 10px;
  text-align: start;
  width: 100%;
  font-size: 18px;
}
.review_author_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.review_author {
  font-weight: 700;
}
.author_column_2 {
  padding-left: 15px;
  margin-left: 15px;
  border-left-style: solid;
  border-color: #ff7400;
  border-width: 1px;
}
.author_column_1 > p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
.author_column_2 > p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
.review_author_post {
  font-weight: 700;
  margin: 0%;
}
.review_author_position {
  color: grey;
}
.misc_name {
  padding-right: 10px;
}
.misc_link {
  text-decoration: none;
  font-weight: 700;
}

/* section  5*/

.section_client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 90vh;
  margin: auto;
}
.clients_container{
  width: 35%;
  display: flex;
  align-items: center;
}
.section_client_img{
  width: 100%;
}

.hidden_desktop {
  display: none;
}

/* section 6*/

.section_specialist_container {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.specialist_card {
  width: 30%;
}

.specialist_img_container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40%;
}
.specialist_name {
  font-size: 18px;
  margin-bottom: 0;
}
.specialist_position {
  color: #ff7400;
  font-size: 16px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specialist_skills {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: start;
  border-radius: 10px;
  font-size: 15px;
  min-height: 200px;
  max-width: 360px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.specialist_skills > li {
  color: #ff7400;
  padding: 5px 0 5px;
}
.skills > span {
  color: black;
}

/* section 7*/

.section_contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.footer_background {
  background-image: url("../src/vacancyBackground.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(12, 28, 102, 0.4);
  box-shadow: inset 0 0 0 1000px rgba(46, 49, 63, 0.9);
}

.section_contact_subTitle {
  font-size: 41px;
}

.section_contact_footer {
  width: 100%;
}
.footer_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section_contact_contacts {
  text-align: end;
  width: 48%;
  height: 50%;
}

.section_contact_adress {
  text-align: start;
  width: 48%;
  height: 50%;
}
.section_contact_footer_title {
  font-size: 29px;
  color: #ff7400;
}
.section_contact_footer_txt {
  font-size: 19px;
  color: white;
}

@media (max-width: 992px) {
  .hidden_tablet {
    display: none;
  }
  .section_1_container {
    height: 100%;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .header_menu {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .contacts {
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }
  .side_img {
    display: none;
  }
  .section_1_body_img {
    display: block;
    width: 50%;
    max-height: 300px;
  }
  .menu_title {
    font-size: 25px;
  }
  .menu_subTitle {
    font-size: 30px;
  }
  .header_subTitle_font {
    font-size: 20px;
  }
  .huge_txt {
    font-size: 200px;
  }

  .review_body {
    font-size: 15px;
  }
  .specialist_card {
    width: 40%;
  }
  .specialist_img {
    height: 200px;
    width: 200px;
  }

  .section_contact_subTitle {
    font-size: 31px;
  }
}

@media (max-height: 800px) {
  .mobile_section_1_wrapper {
    margin-bottom: 0;
  }

  .huge_txt {
    font-size: 240px;
  }
  .button_content {
    width: 340px;
    height: 100px;
  }

  .review_img {
    height: 40px;
    width: 40px;
  }
  .review_body {
    padding-top: 20px;
    font-size: 15px;
  }
  .author_column_1 > p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 12px;
  }
  .author_column_2 > p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 12px;
  }
  .title_padding {
    font-size: 30px;
  }
  .review_body {
    font-size: 13px;
  }
  .specialist_img {
    height: 200px;
    width: 200px;
  }
  .list_img {
    height: 50px;
    width: 50px;
  }
}

@media (max-height: 400px) {
  .hide_in_small_mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .hidden_desktop {
    display: block;
  }
 
  .modal {
    position: fixed;
    z-index: 2;
    width: 100%;
    overflow: auto;
    height: 0%;
    overflow-y: auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .modal-content {
    width: 100%;
    padding: 0;
  }
  .modal_img_container {
    width: 80%;
    height: 320px;
  }

  .title_padding {
    font-size: 20px;
  }
  .section_1_container {
    height: 100%;
  }
  .header_menu {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .contacts {
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }
  .contacts_img {
    height: 20px;
    width: 20px;
  }
  .contacts_info {
    font-size: 13px;
  }
  .side_img {
    display: none;
  }

  .menu_title {
    font-size: 17px;
  }
  .menu_subTitle {
    font-size: 20px;
  }
  .header_subTitle_font {
    font-size: 15px;
  }

  .submit_button {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .button_content {
    height: 50px;
    width: 150px;
    font-size: 15px;
    margin: 5px;
  }
  .section_1_body_img {
    display: block;
    width: 50%;
  }

  .advantages_list {
    font-size: 16px;
  }

  .huge_txt {
    font-size: 150px;
  }
  .section_contract_txt1 {
    font-size: 15px;
  }
  .section_contract_txt2 {
    font-size: 15px;
  }
 
  .list_img {
    height: 25px;
    width: 25px;
  }
.section_contract_txt{
font-size: 15px;
}
  .clients_container{
    display: flex;
  }
  .section_professional_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section_professional_list {
    font-size: 15px;
    width: 100%;
  }
  
  .section_professional_list_item {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
  }
  
  .section_professional_img {
    width: 50px;
    height: 50px;
  }
  .section_professional_body_img_container {
    width: 100%;
  }

  .review_img {
    width: 40px;
    height: 40px;
  }
  .review_body {
    padding-top: 20px;
    font-size: 13px;
  }
  .author_column_1 > p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .author_column_2 > p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
  }

  .section_client_img {
    height: auto;
  }
  .section_specialist_container {
    width: 100%;
    margin-top: 0;
  }

  .specialist_card {
    width: 100%;
    height: 100%;
  }
  .specialist_img_container {
    height: 40%;
  }
  .specialist_name {
    margin: 10px 0 10px;
  }

  .specialist_skills {
    font-size: 13px;
    width: 80%;
    margin: auto;
    min-height: 150px;
  }
  .section_contact_container {
    height: 100%;
  }
  .section_contact_subTitle {
    font-size: 16px;
  }
  .footer_button {
    display: initial;
  }
  .section_contact_footer_title {
    font-size: 20px;
  }
  .section_contact_footer_txt {
    font-size: 15px;
  }
  .hidden_mobile {
    display: none;
  }
}
